@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: #18181a;
  color: #f5f1f0;
  font-family: 'Orbitron', sans-serif;
}

header {
    padding: 35px 15px;
    max-height: 178px;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} 

.logoAndTitle {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .87rem;
}

.title {
    display: none;
    color: #f5f1f0;
}

svg {
    fill: #f4e7d4;
}

img {
    width: 100px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 100px;
    height: 160px;
    background-color: black;
    justify-content: center;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    animation: dropdownFadeIn 0.1s linear;
}

.menu {
    display: none;
}

.home-content {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.tagline {
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1.3px;
}

.codeSnippet {
    max-width: 650px;
}

.codeSnippet p {
    padding: 10px;
    background-color: #292a2d;
    border-radius: 20px 20px 0 0 ;
}

form {
    max-width: 80vh;
    margin: auto;
}

pre {
    padding: 0 !important;
    border-radius: 0 0 20px 20px;
}

.codeSnippet code {
    background-color: black;
    display: block;
    padding: 15px;
    border-radius: 0 0 20px 20px;
}

.codeResult code {
    background-color: black;
    display: block;
    padding: 15px;
}

.codeResult pre {
    border-radius: 10px;
}

.codeResult {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loading {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button {
    padding: 18px;
    background-color: #f4e7d4;
    border: none;
    border-radius: 30px;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 1.3px;
    display: block;
    margin: 50px auto;
    cursor: pointer;

}

@keyframes dropdownFadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
  }

.hide {
    display: none;
}

.dropdown .dropLink{
    color: #f4e7d4;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.selectFrom, .selectTo {
    color: black;
    width: 35%;
} 

.userCode {
    color: aliceblue;
    background-color: black;
    border: none;
    border-radius: 4px;
    height: 40vh;
    width: 40vh;
    padding: 20px;
}

@media (min-width: 700px) {
    .title {
        display: inline;
    }

    header {
        padding: 50px 30px;
    }


}

@media (min-width: 1050px) {
    header svg {
        display: none;
    }

    .tagline {
        font-size: 2em;
    }

    .menu {
        display: flex;
        gap: 30px;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    header {
        padding: 50px;
    }

}